/*

	Copyright © 2019, Stewart Smith. See LICENSE for details.

*/








/*


	CIRCUIT
		New
		Save
		Re-dimension

	EDIT
		Cut
		Copy
		Paste
		Insert

	CLIPBOARD
		Do we just paste these as new?


	┌─────────────────┬───┐
	│ H X Y Z S T π M │ @ │
	└─────────────────┴───┘

────────────────────────────────

	┌────┬────────────────┐
	│ ≡≡ │ t0  t1  t2  t3 │ +
	├────┼────────────────┤
	│ q0 │  0⟩  H  C0  X  │
	│ q1 │  0⟩  I  C1  X  │
	└────┴────────────────┘
      +

*/
.qjs-circuit {

	position: relative;

	/*border: 1px solid black;*/
/*	--bandwidth: 3;
	--timewidth: 5;
	width:  calc( var( --timewidth ) * 10rem );
	height: calc( var( --bandwidth ) * 10rem );
*/	max-width: 100%;
	overflow: visible;
	cursor: crosshair;

	font-family: var( --font-family-sans );
	font-style: italic;
	color: var( --color-titanium );

	font-size:   1.0rem;
	line-height: 2.5rem;
}

.qjs-circuit-background-layer {

	display: grid;
	
	grid-auto-rows:     60px;
	grid-auto-columns:  60px;
	position: relative;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	/*background-color: rgba( 255, 0, 0, 0.1 );*/
}
.qjs-circuit-wire {

	grid-column-start: 3;
	grid-column-end: 6;
	/*background-color: rgba( 255, 0, 0, 0.1 );*/
}
#qjs-circuit-wire rect {

	width: 100%;
}




.qjs-circuit-connections-layer,
.qjs-circuit-grabables-layer {

	display: grid;
	grid-auto-rows:     60px;
	grid-auto-columns:  60px;

	position: absolute;
	top:  0;
	left: 0;
	/*justify-content: center;
	align-items: center;*/
	text-align: center;
}
.qjs-circuit-connections-layer div {

	width:   60px;
	height: 120px;
}
.qjs-circuit-grabables-layer div {

	width:   60px;
	height:  60px;
	padding: 10px;
}
.qjs-circuit-grabables-layer div:hover {

	color: black;
}



.qjs-circuit-menu  {

	grid-row:    1;
	grid-column: 1;
	border-top-left-radius: 1rem;
	background-color: var( --color-chalk );
}
.qjs-circuit-moment {

	grid-row: 1;
	width:  100%;
	height: 100%;
	background-color: var( --color-chalk );
	color: var( --color-titanium );
	cursor: ew-resize;
}
.qjs-circuit-qubit {

	grid-column: 1;
	background-color: var( --color-chalk );
	cursor: ns-resize;
}
.qjs-circuit-input {

	grid-column: 2;
	width:  100%;
	font-weight: bold;
	font-family: var( --font-family-mono );
	font-size: 1.5rem
}





.qjs-circuit svg {

/*	width:  60px;
	height: 60px;*/
	fill: var( --color-titanium );
}
.qjs-circuit-gate-label {

	fill: var( --color-white );
}
#qjs-circuit-control-straight,
#qjs-circuit-control-curved,
#qjs-circuit-gate-control,
#qjs-circuit-gate-controlled {

	fill: var( --color-blue );
}
#qjs-circuit-gate-hadamard {

	fill: var( --color-red );	
}
.qjs-circuit-gate {

	width:  40px;
	height: 40px;
	display: inline-block;
}
svg .qjs-circuit-gate {

	fill: var( --color-green );
	cursor: move;
}
svg #qjs-circuit-gate-identity {

	fill: var( --color-titanium );
	cursor: inherit;
}






/*


	These are the styles necessary for interactive circuit diagrams.


*/

