

/*


	These are the styles necessary for interactive circuit diagrams.


*/



.qjs-circuit-container {

	position: relative;
	max-width: 100%;
	overflow-x: auto;
}
table.qjs-circuit {

	margin: 4em 0;
	justify-items: center;
	align-items: center;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
	font-weight: 300;
	color: rgba( 0, 0, 0, 0.1 );
}
.qjs-circuit td {

	position: relative;
	min-width: 3.5em;
	padding: 0.6em 0.8em;
	text-align: center;
}
.qjs-circuit td:nth-child( even ){

	/*background-color: #F9F9F9;*/
}
.qjs-circuit td:hover {

	/*background-color: #FD0;*/
	background-color: transparent;
}




.qjs-moment-label, .qjs-qubit-label {

	font-size:  0.8em;
	font-family: var( --font-family-sans );
	line-height: 1.4;
}



.qjs-moment-label {

	border-top-left-radius:  1em;
	border-top-right-radius: 1em;
}
.qjs-moment-label-movable {

	cursor: ew-resize;
}




.qjs-qubit-label {

	border-top-left-radius:    1em;
	border-bottom-left-radius: 1em;
	cursor: ns-resize;
}
.qjs-null-cell {

	cursor: default;
}
td.qjs-null-cell:hover {

	background-color: transparent;
}


.qjs-input {

	color: #000;
}




.qjs-wire {

	position: absolute;
	left: 0;
	/*top: calc( 50% - 0.5px );*/
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: rgba( 0, 0, 0, 0.1 );
	overflow: hidden;
}




.qjs-operation {

	box-sizing: border-box;
	position: relative;
	cursor: move;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	padding: 0.2em 0.6em;
	background-color: #FFF;
	text-align: center;
	color: #000;
	font-family: var( --font-family-sans );
	font-weight: 900;
}
.qjs-operation-identity {

	margin: auto;
	width:  0.6em;
	height: 0.6em;
	cursor: default;
	border-radius: 100%;
	padding: 0;
	color: transparent;
	overflow: hidden;
}
.qjs-operation-entangled {

	border-radius: 100%;
	cursor: ns-resize;
}
.qjs-operation-control {

	margin: auto;
	width:  0.8em;
	height: 0.8em;
	border: none;
	border-radius: 100%;
	background-color: rgba( 0, 0, 0, 0.6 );
	/*background-color: #000;*/
	padding: 0;
	color: transparent;
	overflow: hidden;
}
.qjs-operation-target {

	margin: auto;
	width:  2em;
	height: 2em;
	border-radius: 100%;
	background-color: transparent;
	padding: 0;
	color: transparent;
	overflow: hidden;
}




.qjs-highlighted {

	/*background-color: #FD0;*/
	color: #000;
}
.qjs-highlighted .qjs-wire {

	background-color: rgba( 0, 0, 0, 0.6 );
}
.qjs-highlighted .qjs-operation {

	border: 1px solid rgba( 0, 0, 0, 0.8 );
}



