



    /*************/
   /*           */
  /*   Fonts   */
 /*           */
/*************/


@font-face {
  
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local( 'Source Code Pro' ),
	     local( 'SourceCodePro-Regular' ), 
	     url(   'fonts/SourceCodePro-Regular-Latin.woff2' ) format( 'woff2' );
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local( 'Source Code Pro' ),
	     local( 'SourceCodePro-Semibold' ), 
	     url(   'fonts/SourceCodePro-Semibold-Latin.woff2' ) format( 'woff2' );
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




    /***************/
   /*             */
  /*   General   */
 /*             */
/***************/


:root {

	--text-color: #333;
	--internal-link-color: #0A0;
	--external-link-color: var( --text-color );
}
* {

	box-sizing: border-box;
	margin:  0;
	border:  0;
	padding: 0;
}
::-moz-selection {

	background: #FFF;
	color: #000;
}
::selection {

	background: #FD0;
	/*color: rgba( 0, 0, 0, 0.8 );*/
	/*color:  #000;*/
}
html, body {

	width:  100%;
	height: 100%;
}
body {

	display: grid;
	grid-gap: 0;
	grid-template-columns: 240px 1fr;
	margin: 0;
	background-color: #FFF;
	/*background-color: #F6F6F6;*/
	padding: 0;
	color: var( --text-color );
	/*font-family: 'Source Sans Pro', Menlo, "Courier New", monospace;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size:   14px;
	line-height: 25px;
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
	overflow: hidden;
}




h1, h2, h3 {

	margin:  0;
	padding: 0;
	/*padding-bottom: 20px;*/
	color: #000;
	font-weight: 700;
	font-size:   14px;
	line-height: 25px;
}
h3 {

	margin-bottom: 10px;
}
p + p {

	text-indent: 20px;
}
p + h3, code + h3, table + h3 {

	margin-top: 40px;
}
hr {

	height: 12px;
	visibility: hidden;
}
li {

/*	list-style: none;*/
}
strong {

	font-weight: 600;
	color: #000;
}
pre {

	margin:  10px 0 10px -15px;
	padding:  5px 15px;
	line-height:  18px;
}
pre, code, samp {

	background-color: #FFF;
	background-color: #F6F6F6;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
	font-weight: 300;
	font-size: 14px;
}
code, samp {

	margin:  0  -2px;
	padding: 5px 2px;
}
samp {

	color: #CCC;
}
pre code {

	margin:  0;
	padding: 0;
}
small {

	font-size: 0.8em;
	letter-spacing: 0.02em;
}
sup, sub {

	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub { 

	top: 0.4em; 
}




a {

	color: var( --internal-link-color );
	text-decoration: none;
}
a:hover {

	background-color: var( --internal-link-color );
	color: #FFF;
}
a[ target=_blank ]{

	color: var( --external-link-color );
	text-decoration: #999 underline;
}
a[ target=_blank ]:hover{

	background-color: var( --external-link-color );
	color: #FFF;
}
/*a[target=_blank]:after {

	content:  " \2197 ";
}*/




    /******************/
   /*                */
  /*   Navigation   */
 /*                */
/******************/


nav {

	grid-column: 1;
  	grid-row: 1;
	padding: 20px 0 60px 0;
	overflow: auto;
	font-size:   21px;
	line-height: 40px;
}
header {

	margin-left: 20px;
}
header img {

	width:  60px;
	height: 60px;
}
nav ul {

	display: block;
	position: relative;
	top: 20px;
}
nav li {

	list-style: none;
}
nav li a {

	display: block;
	padding-left: 40px;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
}
nav a.selected {

	color: #000;
	font-weight: 600;
}
nav a.selected:hover {

	background-color: transparent;
}
nav section {

	position: sticky;
	top: 20px;
}






main {
	
	grid-column: 2;
	grid-row: 1;
	padding: 120px 60px 240px 40px;
	overflow: auto;
}
main a {

	margin:  0  -2px;
	padding: 5px 2px;
}
table {

	margin: 20px 0 20px -15px;
	border-collapse: collapse;
	background-color: #F6F6F6;
	/*background-color: #FFF;*/
	/*padding: 10px 20px;*/
}
td {

	padding: 10px 15px;
}
td.highlighted{

	background-color: #EEE;
}



#console-open-commands td {

	text-align: center;
	vertical-align: middle;
}







