



    /*************/
   /*           */
  /*   Fonts   */
 /*           */
/*************/


@font-face {
  
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local( 'Source Code Pro' ),
	     local( 'SourceCodePro-Regular' ), 
	     url(   'fonts/SourceCodePro-Regular-Latin.woff2' ) format( 'woff2' );
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local( 'Source Code Pro' ),
	     local( 'SourceCodePro-Semibold' ), 
	     url(   'fonts/SourceCodePro-SemiBold-Latin.woff2' ) format( 'woff2' );
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




    /******************/
   /*                */
  /*   Foundation   */
 /*                */
/******************/


:root {

	--text-S-size:     11px;
	--text-S-leading:  15px;
	--text-M-size:     14px;
	--text-M-leading:  20px;
	--text-L-size:     21px;
	--text-L-leading:  30px;	
	--text-XL-size:    28px;
	--text-XL-leading: 40px;

	--text-color: #444;
	--text-code-comment-color: #999;
	--hyperlink-internal-color: #0366D6;
	--hyperlink-external-color: var( --text-color );
	
	--highlight-color: #000;
	--highlight-background-color: #FD0;

	--background-callout-color: #F9F9F9;

	--svg-fill-color: var( --text-color );
}
* {

	box-sizing: border-box;
	margin:  0;
	border:  0;
	padding: 0;
}
::-moz-selection {

	background: var( --highlight-background-color );
	color: var( --highlight-color );
}
::selection {

	background: var( --highlight-background-color );
	color: var( --highlight-color );
}
html, body {

	width:  100%;
	height: 100%;
}
body {

	margin: 0;
	background-color: #FFF;
	background-image: url( 'q-background.png' );
	background-size: 60px 60px;
	background-attachment: fixed;
	padding: 0;
	color: var( --text-color );
	font-size:   var( --text-M-size );
	line-height: var( --text-M-leading );
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
}




    /******************/
   /*                */
  /*   Hyperlinks   */
 /*                */
/******************/


a {

	color: var( --hyperlink-internal-color );
	text-decoration: none;
	transition: 
		background-color 0.2s,
		color 0.2s;
}
a svg {

	fill: var( --hyperlink-internal-color );
}
a:hover {

	background-color: var( --hyperlink-internal-color );
	color: #FFF;
	transition: 
		background-color 0s,
		color 0s;
}
a:hover svg {

	fill: #FFF;
}
a[ target=_blank ]{

	color: var( --hyperlink-external-color );
	text-decoration: #999 underline;
}
a[ target=_blank ] svg {

	fill: var( --hyperlink-external-color );
}
a[ target=_blank ]:hover {

	background-color: var( --hyperlink-external-color );
	color: #FFF;
}
a[ target=_blank ]:hover svg {

	fill: #FFF;	
}
/*a[target=_blank]:after {

	content:  " \2197 ";
}*/




    /****************/
   /*              */
  /*   Headings   */
 /*              */
/****************/


h1, h2, h3, h4 {

	margin:  0;
	padding: 0;
	color: #000;
	font-weight: 400;
	font-size:   var( --text-L-size );
	line-height: var( --text-L-leading );
}
h3 {

	padding-top:    30px;
	padding-bottom: 10px;
	font-size: var( --text-L-size );
	font-weight: 700;
}
h3 code {
	
	font-weight: 700;
	font-size: var( --text-L-size );
}
h4 {

	padding-top: 20px;
	font-size:   var( --text-M-size );
	font-weight: 700;
}
hr {

	margin: 60px 20px 3px 20px;
	height: 2px;
	background-color: #CCC;
	padding: 0;
}
hr + h3 {

	padding-top: 5px;
}
hr + p {

	padding-top: 10px;
}




p + p {

	text-indent: 20px;
}
strong {

	font-weight: 600;
}
small {

	font-size: 0.8em;
	letter-spacing: 0.02em;
}
sup, sub {

	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	left: 0.1em;
}
sub { 

	top: 0.4em; 
}




    /************/
   /*          */
  /*   Code   */
 /*          */
/************/


pre {

	margin: 10px 0;
	border-radius: 10px;
	background-color: var( --background-callout-color );
	padding:  0  0 20px 20px;
	tab-size: 4;
	-moz-tab-size: 4;
	overflow: auto;
}
pre, code, samp {

	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
	font-weight: 300;
	font-size: 13.5px;
}
code, samp {

	/*margin:  0  -1px;*/
	/*padding: 2px 2px;*/
}
samp {}
pre code {

	margin:  0;
	padding: 0;
	line-height: 20px;
}
code .comment {

	color: var( --text-code-comment-color );
}




    /******************/
   /*                */
  /*   Navigation   */
 /*                */
/******************/


nav {

	position: fixed;
	top:  0;
	left: 0;
	width: 260px;
	height: 100%;
	min-height: 100vh;
	background-color: #FFF;
	padding: 0 20px 180px 0;
	overflow: auto;
}
nav, h2 {

	font-size:   var( --text-L-size );
	line-height: var( --text-XL-leading );	
}
header {

	/*margin-left: 20px;*/
}
header h1 a {

	display: block;
	padding: 20px 0 20px 20px;
}
header h1 svg {

	display: block;
	width: 120px;
	height: 60px;
	/*fill: var( --svg-fill-color );*/
}
nav ul {

	display: block;
	position: relative;
	/*top: 15px;*/
}
nav li {

	list-style: none;
}
nav li a {

	display: block;
	padding-left: 40px;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
}
nav a.selected {

	color: #000;
	font-weight: 600;
}
nav a.selected svg {

	fill: #000;
}
nav a.selected:hover {

	background-color: transparent;
}
nav section {

	position: sticky;
	top: 20px;
}




    /***************/
   /*             */
  /*   Content   */
 /*             */
/***************/


main {
	
	position: absolute;
	top: 0;
	left: 260px;
	min-height: 100vh;
	background-color: #FFF;
	padding: 75px 20px 240px 0;
	overflow: auto;
	max-width: 620px;
}
main p, main h2, main h3, main h4, main ul {

	margin: 0 20px;
}
main a {

	margin:  0  -2px;
	padding: 3px 2px;
}




table {

	margin: 0;
	border-collapse: collapse;
/*	overflow: hidden;*/
}
td {

	transition: background-color 0.5s;
}
td:hover {
	
	background-color: #DDD;
	transition: background-color 0s;
}








/*


	Yes, it is totally possible to use a period in an Id name.
	You just have to escape the period character!

	#some\.id {}

*/
.hash-target {

	padding: 2px 0;
	animation-duration: 1s;
	animation-name: hash-target-blink;
	animation-iteration-count: 2;
}
@keyframes hash-target-blink {

	  0% { background-color: transparent; }
	 50% { background-color: var( --highlight-background-color ); }
	100% { background-color: transparent; }
}




main li + li {

	margin-top: 10px;
}




ul.properties li {

	list-style: none;
	/*margin-top: 10px;*/
	margin-top: 20px;
}
ul.properties pre {

	margin-left: 0;
}
dt {

	display: inline;
	/*margin-left: -20px;*/
	margin-right:  3px;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
	font-weight: 700;
}
dd {

	display: inline;
}




.interactive-container {
	
	position: relative;
	margin: 12px 0;
	width:  100%;
	height: 240px;	
	padding-bottom: calc( 100% + 24px );
	overflow: hidden;
}
.interactive-container canvas {

	position: absolute;
	top: 0;
	left: 0;
	border-radius: 16px;
	width:  100%;
	height: 100%;
	background-color: var( --background-callout-color );
	overflow: hidden;
}
.interactive-component {

	position: absolute;
	top:  24px;
	left: 24px;
	z-index: 999;
}




.qubit-container {

	display: inline-block;
	/*width: 120px; */
	/*margin: 8px;*/
	text-align: center;
}
.qubit-container p {

	font-size:   12px;
	line-height: 18px;
}
.qubit {

	display: inline-block;
	margin: 4px;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 8px 16px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
	color: var( --internal-link-color );
}
.qubit-container.selected .qubit {

	background-color: #EEE;
	color: #000;
}




    /*************/
   /*           */
  /*   Maths   */
 /*           */
/*************/


.maths {

	margin: 20px 60px 20px 40px;
}
dd .maths {

	margin-top:  0;
	margin-left: 0;
}




.symbol {

	padding: 0 0.1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 0.05em;
}




.division {

	display: inline-block;
	vertical-align: middle;
	margin:  10px;
}
.division td {

	padding: 10px;
}
.dividend {

	border-bottom: 1px solid #CCC;
	text-align: center;
}
.divisor {

	text-align: center;
}




.matrix {

	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin:  10px;
	padding: 10px;
	font-family: 'Source Code Pro', Menlo, "Courier New", monospace;
	font-weight: 300;
	font-size: 13.5px;
	text-align: right;
}
.matrix td {

	padding: 5px 10px;
}
.matrix-bracket-left, .matrix-bracket-right {

	position: absolute;
	top:      0;
	width:    5px;
	height: 100%;
	border:   1px solid #CCC;
}
.matrix-bracket-left {

	left: 0;
	border-right: none;
}
.matrix-bracket-right {

	right: 0;
	border-left: none;
}




@keyframes blink {

	 0% { background-color: #DDD; }
	40% { background-color: unset; }
}



/*
#rows-and-columns-3x2 td:hover {

	background: transparent;
}
#rows-and-columns-3x2 td {

	animation: 4s infinite blink;
}
#rows-and-columns-3x2 td:nth-child( 1 ){

	animation-delay: 0.0s;
}
#rows-and-columns-3x2 td:nth-child( 2 ){

	animation-delay: 0.5s;
}
#rows-and-columns-3x2 td:nth-child( 3 ){

	animation-delay: 1.0s;
}
#rows-and-columns-3x2 tr {

	animation: 4s infinite blink;
}
#rows-and-columns-3x2 tr:nth-child( 1 ) {

	animation-delay: 1.5s;
}
#rows-and-columns-3x2 tr:nth-child( 2 ) {

	animation-delay: 2.0s;
}




#rows-and-columns-2x3 td:hover {

	background: transparent;
}
#rows-and-columns-2x3 td {

	animation: 4s infinite blink;
}
#rows-and-columns-2x3 td:nth-child( 1 ){

	animation-delay: 0.0s;
}
#rows-and-columns-2x3 td:nth-child( 2 ){

	animation-delay: 0.5s;
}
#rows-and-columns-2x3 tr {

	animation: 4s infinite blink;
}
#rows-and-columns-2x3 tr:nth-child( 1 ) {

	animation-delay: 1.0s;
}
#rows-and-columns-2x3 tr:nth-child( 2 ) {

	animation-delay: 1.5s;
}
#rows-and-columns-2x3 tr:nth-child( 3 ) {

	animation-delay: 2.0s;
}
*/



#row-major-3x2 td:hover, #column-major-3x2 td:hover {

	background: transparent;
}
#row-major-3x2 td, #column-major-3x2 td {

	animation: 8s infinite blink;
}
#row-major-3x2 tr:nth-child( 1 ) td:nth-child( 1 ){

	animation-delay: 0.0s
}
#row-major-3x2 tr:nth-child( 1 ) td:nth-child( 2 ){

	animation-delay: 0.5s
}
#row-major-3x2 tr:nth-child( 1 ) td:nth-child( 3 ){

	animation-delay: 1.0s
}
#row-major-3x2 tr:nth-child( 2 ) td:nth-child( 1 ){

	animation-delay: 1.5s
}
#row-major-3x2 tr:nth-child( 2 ) td:nth-child( 2 ){

	animation-delay: 2.0s
}
#row-major-3x2 tr:nth-child( 2 ) td:nth-child( 3 ){

	animation-delay: 2.5s
}




#column-major-3x2 tr:nth-child( 1 ) td:nth-child( 1 ){

	animation-delay: 4.0s
}
#column-major-3x2 tr:nth-child( 2 ) td:nth-child( 1 ){

	animation-delay: 4.5s
}
#column-major-3x2 tr:nth-child( 1 ) td:nth-child( 2 ){

	animation-delay: 5.0s
}
#column-major-3x2 tr:nth-child( 2 ) td:nth-child( 2 ){

	animation-delay: 5.5s
}
#column-major-3x2 tr:nth-child( 1 ) td:nth-child( 3 ){

	animation-delay: 6.0s
}
#column-major-3x2 tr:nth-child( 2 ) td:nth-child( 3 ){

	animation-delay: 6.5s
}








table#console-open-commands {

	margin: 20px 0 20px 0;
	overflow: hidden;
}
table#console-open-commands td {

	border: 1px solid #FFF;
	padding: 15px 20px;
	transition: background-color 0.5s;
}
table#console-open-commands td.highlighted{

	background-color: #DDD;
	transition: background-color 0s;
}
table#console-open-commands {
	
	width: 100%;
	border-radius: 16px;
	background-color: var( --background-callout-color );
}
table#console-open-commands td {

	text-align: center;
	vertical-align: middle;
}
table#console-open-commands svg {

	display: block;
	margin: 0 auto 2px auto;
	width:  40px;
	height: 40px;
	padding: 0;
	fill: var( --svg-fill-color );
}
table#console-open-commands .na {

	color: #BBB;
}
.key {

	margin:  3px;
	width:  40px;
	height: 40px;
	display: inline-block;
	border-radius: 6px;
	background-color: #FFF;
	text-align: center;
	line-height: 38px;
	box-shadow: 0 1px 2px #666;
}






