/*

	Copyright © 2019, Stewart Smith. See LICENSE for details.

*/
@charset "utf-8";




:root {

	--z-index-gate: 50;
	--z-index-gate-identity: 40;
}




/*


	Circuit	

	   Menu     Moments
	  ╭───────┬───┬───┬───┬───╮
	  │ ≡     │ 1 │ 2 │ 3 │ + │ Add moment
	  ├───┬───┼───┼───┼───┼───╯
	R │ 0 │|0⟩│ H │ C0│ X │ -
	e ├───┼───┼───┼───┼───┤
	g │ 1 │|0⟩│ I │ C1│ X │ -
	s ├───┼───┴───┴───┴───┘
      │ + │ -   -   -   -
	  ╰───╯
	    Add
	    register


	Circuit Palette

	╭───────────────────┬───╮
	│ H X Y Z S T π M … │ @ │
	╰───────────────────┴───╯


	Circuit clipboard

	 ┌───────────┐
	▟│ ┌───┬───┐ │
	█│ │ H │ C0│ │
	█│ ├───┼───┤ │
	█│ │ I │ C1│ │
	█│ └───┴───┘ │
	█└───────────┘
	████████████▛


*/


.qjs-circuit, 
.qjs-circuit-palette,
.qjs-circuit-clipboard {
	
	position: relative;
	margin: 0.5rem 0;
	max-width: 100%;
	padding: 0;
	/*cursor: crosshair;*/
	font-family: var( --font-family-sans );
	font-style: italic;
	color: var( --color-titanium );
	font-size:   1.0rem;
	line-height: 2.5rem;
	/*overflow: auto;*/
}
.qjs-circuit-palette {

	min-height: 80px;
	border-radius: 0.5rem;	
	background-color: var( --color-chalk );
}
.qjs-circuit-clipboard {

	position: absolute;
	z-index: 200;
	min-width:  60px;
	min-height: 60px;
	/*background-color: var( --color-yellow );*/
	/*background-color: rgba( 255, 255, 255, 0.97 );*/
	/*background-color: white;*/
	box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.5 );
	/*pointer-events: none;*/
	cursor: grabbing;
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}
.qjs-circuit svg {

	fill: var( --color-titanium );
}




    /***************/
   /*             */
  /*   Layers    */
 /*             */
/***************/


.qjs-circuit-layer {

	box-sizing: border-box;
	position: absolute;
	display: grid;	
	grid-auto-rows:     60px;
	grid-auto-columns:  60px;	
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	text-align: center;
}
.qjs-circuit-palette .qjs-circuit-layer {

	display: block;
	position: relative;
	padding: 10px;
}
.qjs-circuit-palette .qjs-circuit-layer::after { 
  
	content: '';
	display: block; 
	clear: both;
}
.qjs-circuit-palette .qjs-circuit-operation {

	/*display: inline-block;*/
	float: left;
}
.qjs-circuit-layer-wires {

	position: relative;
}
.qjs-circuit-layer-connections {

	top: 30px;
	height: calc( 100% - 30px );
	overflow: hidden;
}
.qjs-circuit-layer-connections div {

	width:  60px;
	height: auto;
}
.qjs-circuit-layer-connections svg {

	width:  100%;
	height: 100%;
}




    /*************/
   /*           */
  /*   Cells   */
 /*           */
/*************/


div.qjs-circuit-cell {

	box-sizing: border-box;
	width:   60px;
	height:  60px;
	padding: 10px;
	/*z-index: var( --z-index-operation );*/
	/*z-index: var( --z-index-operation-identity );*/
	overflow: hidden;
}
.qjs-circuit-menu,
.qjs-circuit-moment,
.qjs-circuit-register {

	background-color: var( --color-chalk );
}
.qjs-circuit-menu  {
	
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end:   3;
	min-height: 100%;
	min-width:  100%;
	border-top-left-radius: 1rem;
}
.qjs-circuit-moment {

	grid-row: 1;
	cursor: ew-resize;
	cursor: s-resize;
}
.qjs-circuit-register {

	grid-column: 1;
	cursor: ns-resize;
	cursor: e-resize;
}
.qjs-circuit-input {

	padding-left:  0;
	padding-right: 0;
	grid-column: 2;
	font-family: var( --font-family-mono );	
	font-weight: bold;
	font-size: 1.5rem
}
#qjs-circuit-wire {

	fill: var( --color-newsprint );
}
svg.qjs-circuit-wire {

	width:  60px;
	height: 60px;
}




    /******************/
   /*                */
  /*   Operations   */
 /*                */
/******************/


.qjs-circuit-operation {

	box-sizing: border-box;
	width:   60px;
	height:  60px;
	padding: 10px;	
	overflow: hidden;
}
.qjs-circuit-palette,
.qjs-circuit[qjs-circuit-mode="qjs-circuit-operation-move"] .qjs-circuit-operation {

	cursor: grab;
}
.qjs-circuit-operation:hover {

	/*background-color: var( --color-white );*/
	box-shadow: -1px 2px 8px rgba( 0, 0, 0, 0.5 );
}


.qjs-circuit-operation svg {

	width:  40px;
	height: 40px;
	fill: var( --color-slate );
	fill: var( --color-green );
}

#qjs-circuit-operation-identity {

	fill: var( --color-titanium );
	cursor: inherit;
}
#qjs-circuit-operation-hadamard {

	fill: var( --color-red );
}
#qjs-circuit-operation-controller,
#qjs-circuit-operation-controlled {

	fill: var( --color-charcoal );
	fill: var( --color-blue );
}
#qjs-circuit-control-straight,
#qjs-circuit-control-curved {

	fill: none;
	stroke: var( --color-charcoal );
	stroke: var( --color-blue );
	stroke-width: 2;
	stroke-miterlimit: 10;
}
.qjs-circuit-operation-label {

	fill: var( --color-white );
}




    /**************/
   /*            */
  /*   States   */
 /*            */
/**************/


.qjs-circuit-highlight {

	/*background-color: var( --color-yellow );	*/
	color: black;
}
.qjs-circuit-register.qjs-circuit-highlight,
.qjs-circuit-input.qjs-circuit-highlight,
.qjs-circuit-moment.qjs-circuit-highlight,
.qjs-circuit-wire.qjs-circuit-highlight {

	background-color: var( --color-newsprint );
	/*background-color: var( --color-white );
	box-shadow: 1px 2px 6px rgba( 0, 0, 0, 0.5 );*/
}
.qjs-circuit-wire.qjs-circuit-highlight {

	/*fill: black;*/
}

/*.qjs-circuit-register.qjs-circuit-selected,
.qjs-circuit-input.qjs-circuit-selected,
.qjs-circuit-moment.qjs-circuit-selected,
.qjs-circuit-wire.qjs-circuit-selected 
*/
.qjs-selected {

	background-color: var( --color-yellow );
}













